<% provide(:title, "Add Contact") %>

<div class="page-header">
  <%= link_to contacts_path, :class => "btn btn-default" do %>
    <i class="glyphicon glyphicon-remove"></i> Cancel
  <% end %>
</div>

<%= render 'form' %>
