@import "bootstrap-sprockets";
@import "bootstrap";
@import "contacts";
//= require_self
//= require_tree .

body {
  padding-top: 50px;
  padding-bottom: 4em;
  -webkit-text-size-adjust:100%;
}

input[type='text'],
input[type='number'],
input[type='password'],
input[type='tel'],
input[type='email'],
textarea {
  font-size: 16px;
}