@import "bootstrap-sprockets";
@import "bootstrap";
@import "contacts";
//= require_self
//= require_tree .

body {
  padding-top: calc(50px + 1.62em);
  padding-bottom: 4em;
  -webkit-text-size-adjust:100%;
}

input[type='text'],
input[type='number'],
input[type='password'],
input[type='tel'],
input[type='email'],
textarea {
  font-size: 16px;
}

.navbar-default {
	background: hsla(0,0%,94%,1);
	border: none;
}

@supports (backdrop-filter: blur()) {
	.navbar-default {
		background: hsla(0,0%,94%,0.83);
		backdrop-filter: blur(1em) saturate(2.62);
	}
}

@supports (-webkit-backdrop-filter: blur()) {
	.navbar-default {
		background: hsla(0,0%,94%,0.83);
		-webkit-backdrop-filter: blur(1em) saturate(2.62);
	}
}

.navbar-default .navbar-text,
.navbar-default .navbar-nav > li > a {
	color: hsla(0,0%,0%,0.91);
}

.navbar-default .navbar-nav > li > a {
	color: #E8003A;
}

.navbar-default .navbar-brand {
	color: hsla(0,0%,0%,0.91);
	font-weight: 500;
}

.navbar-collapse {
	border: none;
	box-shadow: none;
}

.navbar-collapse.in {
	box-shadow: inset 0 1px 0 hsla(0,0%,0%,0.15);
}

.navbar-toggle {
	border-radius: 3px;
}

.page-header {
	padding-bottom: 1em;
	margin: 0 0 1.62em;
	border-bottom: 1px solid hsl(0,0%,91%);
}

.alert-danger {
	background-color: #F5DFE4;
	color: #E8003A;
	border-radius: 3px;
	border: none;
	box-shadow: none;
}

.alert-success {
	background-color: #CCF0E7;
	color: #30806C;
	border-radius: 3px;
	border: none;
	box-shadow: none;
}

.alert-dismissable .close {
	text-shadow: none;
	opacity: 1;
}

.alert-success .alert-dismissable .close {
	color: #30806C;
}

.alert-danger .alert-dismissable .close {
	color: #E8003A;
}