// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.contact,
a.contact:hover,
a.contact:focus {
	text-decoration: none;
	color: black;
}

a.contact {
	display: flex;
  transition: all 0.24s cubic-bezier(0.075, 0.820, 0.165, 1.000);
  border-radius: 4px;
}

a.contact:hover {
	background: hsl(0,0%,94%);
}

a.contact:active {
	transform: scale(0.94);
}

.media-element {
	display: flex;
	align-items: center;
  margin: 0.62em;
  overflow: hidden;
}

.media-figure {
	margin-right: 1em;
	border-radius: 50%;
}

.media-body {
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.media-body p {
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}

.media-body strong {
	font-size: 1.24em;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -0.38em;
}

.cell {
	flex: 0 0 100%;
	padding: 0.15em 0;
	overflow: hidden;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.grid {
		margin: -0.38em -0.62em;
	}

	.cell {
		padding: 0.38em 0.62em;
		flex: 0 0 50%;
	}

	.Media {
		margin: 1em;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.grid > .cell {
		flex: 0 0 33.3333%;
	}
}