<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to logout_path, method: "delete" do %>
            <span class="glyphicon glyphicon-user"></span> Logout
            <% end %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
